-include $(BL_SDK_BASE)/examples/wifi/defconfig

-include $(BL_SDK_BASE)/examples/wifi/at_defconfig

CONFIG_PS_EXTEND =y

# wifi
if (CONFIG_RCP_ENABLE)
    CONFIG_NXSPI_NET =y
endif()

CONFIG_SPI_3PIN_MODE_ENABLE =y
CONFIG_ATMODULE_NXSPI       =y
