CONFIG_FREERTOS=y
CONFIG_SHELL=y

CONFIG_BLUETOOTH=y
CONFIG_RF=y
CONFIG_BTBLECONTROLLER_LIB=m2s1
CONFIG_BT_STACK_CLI=n
CONFIG_BT_L2CAP_TX_MTU=500
CONFIG_BT_RX_BUF_LEN=508
CONFIG_BFLB_MTD=y
CONFIG_PARTITION=y
CONFIG_LITTLEFS=y
