out/*
build/*
.vscode/settings.json
.settings

**/.cdk
**/Lst
**/Obj

examples/**/*.mk
examples/**/*.cdkws
!examples/bl_mcu_sdk.cdkws
examples/**/*.mk
examples/**/*.bat
examples/**/cdk/*.txt

tools/bflb_flash_tool/chips/bl702/eflash_loader/eflash_loader_cfg.ini
tools/bflb_flash_tool/chips/bl702/img_create_mcu/bootinfo.bin
tools/bflb_flash_tool/chips/bl702/img_create_mcu/img.bin
tools/bflb_flash_tool/chips/bl702/img_create_mcu/whole_img.bin
tools/bflb_flash_tool/chips/bl702/img_create_mcu/whole_img.pack
tools/bflb_flash_tool/img/project.bin
tools/bflb_flash_tool/log/*