.vscode
.repo
.cache
.clangd
cscope*
compile_commands.*
examples/solutions
examples/wifi
examples/btble
examples/zigbee
tools/bflb_tools
tools/CI
chiptest
**/__pycache__
**/build
*.pyc
*.xlsx
*.xlsm
*.vsdx
*.xls
*.docx
*.doc
*.pptx
*.svd
**/_build
tools/reg_parser/Peripherals/*_reg.h
tools/reg_parser/InitVals/*_register.c
**/img_create_iot
