-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_BFLB_MTD  =y
CONFIG_BFLB_OTA  =y
CONFIG_PARTITION =y

# Config
## mbedtls
CONFIG_MBEDTLS_AES_USE_HW    =n
CONFIG_MBEDTLS_BIGNUM_USE_HW =n
CONFIG_MBEDTLS_ECC_USE_HW    =n
CONFIG_MBEDTLS_SHA1_USE_HW   =n
CONFIG_MBEDTLS_SHA256_USE_HW =n
CONFIG_MBEDTLS_SHA512_USE_HW =n

# DCDC ENABLE
CONFIG_DCDC_ENABLE  =n

# sdio
#CONFIG_HOSTROUTER  =y
CONFIG_DHCP_IN_EMB  =y
CONFIG_NETBUS       =y
CONFIG_DUAL_ETH     =n

CONFIG_LITTLEFS     =y

CONFIG_ATMODULE     =y
CONFIG_ATMODULE_USB =y
CONFIG_ATMODULE_WIFI      =y

CONFIG_CHERRYUSB                =y
CONFIG_CHERRYUSB_DEVICE         =y
CONFIG_CHERRYUSB_DEVICE_CDC     =y
CONFIG_CHERRYUSB_DEVICE_CDC_ECM =y
CONFIG_CHERRYUSB_DEVICE_CDC_ACM =y

CONFIG_BSP_ETH_PHY  =y
