CONFIG_BFLB_LOG =n
CONFIG_FREERTOS =y
CONFIG_SHELL =y
CONFIG_BLUETOOTH =y
ifeq ($(CHIP),bl602)
CONFIG_BLECONTROLLER_LIB =m1s1
CONFIG_HW_SEC_ENG_DISABLE =y
else  ifeq ($(CHIP),bl616cl)
CONFIG_BTBLECONTROLLER_LIB =m2s1
else
CONFIG_BTBLECONTROLLER_LIB =ble1m10s1bredr0
endif
CONFIG_RF =y
CONFIG_BFLB_MTD =y
CONFIG_PARTITION =y
CONFIG_LITTLEFS =y
#CONFIG_LITTLEFS =y
