CONFIG_GCC_OPTIMISE_LEVEL =-O2

ifneq (,$(filter $(CHIP),bl616 bl616cl))
    CONFIG_WL80211 =y
    CONFIG_WL80211_WRAM_MEM_SIZE_LIMIT = 0x4000 # 16KB
endif
# The default configuration of the wireless network
-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_PSRAM =y
CONFIG_SHELL =y
CONFIG_IPERF =y


# The log of macsw affects the real-time performance.
CONFIG_NO_FW_BL_LOG_PRINT =y

################### solution_utils config ###################
################### queue ###################
CONFIG_SOLUTION_QUEUE_IMG_RAW_OUT   =y
CONFIG_SOLUTION_QUEUE_IMG_RAW_IN    =n
CONFIG_SOLUTION_QUEUE_MJPEG_OUT     =y
CONFIG_SOLUTION_QUEUE_MJPEG_IN      =n
CONFIG_SOLUTION_QUEUE_AUDIO_IN      =n
CONFIG_SOLUTION_QUEUE_AUDIO_OUT     =n

################### video ##################
## video default size
CONFIG_SOLUTION_VIDEO_DEFAULT_WIDTH  =640
CONFIG_SOLUTION_VIDEO_DEFAULT_HIGHT  =480
## dbi display (yuyv >> dbi_display)
CONFIG_SOLUTION_FUNC_DISP_DBI       =y
## jpeg compression (yuyv >> jpeg)
CONFIG_SOLUTION_FUNC_MJPEG_ENC      =y
## jpeg decompression (jpeg >> yuv/rgb)
CONFIG_SOLUTION_FUNC_MJPEG_DEC      =n
## mjpeg dec output format:  1: RGB565, 2: RGB888, 3: NRGB8888, 4: YUYV, 5: YUV,
CONFIG_MJPEG_DEC_OUTPUT_FORMAT      =1
## dvp sensor (dvp >> yuyv)
CONFIG_SOLUTION_FUNC_DVP            =y

## image_transmission (jpeg)
CONFIG_SOLUTION_FUNC_HIBOOSTER_TX   =y
CONFIG_SOLUTION_FUNC_HIBOOSTER_RX   =n
CONFIG_HB_SEND_TEST                 =n
CONFIG_HB_RECV_TEST                 =y

## The default configuration of the solution_utils
-include $(BL_SDK_BASE)/examples/solution/solution_bl616/solution_utils/defconfig
# ################### solution_utils config end ###################

# mbedtls
CONFIG_MBEDTLS_AES_USE_HW    =y
CONFIG_MBEDTLS_BIGNUM_USE_HW =y
CONFIG_MBEDTLS_ECC_USE_HW    =y
CONFIG_MBEDTLS_SHA1_USE_HW   =y
CONFIG_MBEDTLS_SHA256_USE_HW =y
CONFIG_MBEDTLS_SHA512_USE_HW =y

# 84KB WRAM for BL616/BL616CL, which is enough for this project.
CONFIG_WRAM_LENGTH = 0x15000

ifeq ($(CHIP),bl618dg)
    CONFIG_ROMAPI             =n
    CONFIG_DUALCORE_DISABLE   =y
    CONFIG_WRAM_FOR_AP_SIZE   = 0x50000
    CONFIG_RAM_FOR_AP_SIZE    = 0x50000
    CONFIG_PSRAM_FOR_AP_SIZE  = 0x400000  # 4MB PSRAM for AP core
endif
