
################### solution_utils config ###################

################### queue ###################
CONFIG_SOLUTION_QUEUE_IMG_RAW_OUT	?=n
CONFIG_SOLUTION_QUEUE_IMG_RAW_IN	?=n
CONFIG_SOLUTION_QUEUE_MJPEG_OUT		?=n
CONFIG_SOLUTION_QUEUE_MJPEG_IN		?=n
CONFIG_SOLUTION_QUEUE_AUDIO_IN 		?=n
CONFIG_SOLUTION_QUEUE_AUDIO_OUT		?=n

ifeq ($(CONFIG_SOLUTION_QUEUE_IMG_RAW_OUT),y)
# 	CONFIG_IMG_RAW_OUT_FRAME_SIZE	?=CONFIG_SOLUTION_VIDEO_DEFAULT_WIDTH * CONFIG_SOLUTION_VIDEO_DEFAULT_HIGHT * 2
	CONFIG_IMG_RAW_OUT_FRAME_NUM	?=2
endif

ifeq ($(CONFIG_SOLUTION_QUEUE_IMG_RAW_IN),y)
# 	When mjpeg_dec output format is RGB888/NRGB8888,
# 	please override CONFIG_IMG_RAW_IN_FRAME_SIZE in project defconfig.
# 	CONFIG_IMG_RAW_IN_FRAME_SIZE	?=CONFIG_SOLUTION_VIDEO_DEFAULT_WIDTH * CONFIG_SOLUTION_VIDEO_DEFAULT_HIGHT * 2
	CONFIG_IMG_RAW_IN_FRAME_NUM		?=2
endif

ifeq ($(CONFIG_SOLUTION_QUEUE_MJPEG_OUT),y)
	CONFIG_MJPEG_OUT_FRAME_SIZE ?=0x20000 # 128k
	CONFIG_MJPEG_OUT_FRAME_NUM	?=6
endif

ifeq ($(CONFIG_SOLUTION_QUEUE_MJPEG_IN),y)
	CONFIG_MJPEG_IN_FRAME_SIZE 	?=0x20000 # 128k
	CONFIG_MJPEG_IN_FRAME_NUM	?=6
endif

ifeq ($(CONFIG_SOLUTION_QUEUE_AUDIO_IN),y)
	CONFIG_AUDIO_IN_FRAME_SIZE 	?=0x400  # 1k
	CONFIG_AUDIO_IN_FRAME_NUM	?=20
endif

ifeq ($(CONFIG_SOLUTION_QUEUE_AUDIO_OUT),y)
	CONFIG_AUDIO_OUT_FRAME_SIZE ?=0x400  # 1k
	CONFIG_AUDIO_OUT_FRAME_NUM	?=20
endif

################### audio ##################
# internal codec
CONFIG_SOLUTION_FUNC_AUDIO_AUADC    ?=n
CONFIG_SOLUTION_FUNC_AUDIO_AUDAC    ?=n
## external i2s codec
CONFIG_SOLUTION_FUNC_AUDIO_I2S_IN   ?=n
CONFIG_SOLUTION_FUNC_AUDIO_I2S_OUT  ?=n
## external usb codec
CONFIG_SOLUTION_FUNC_UAC_IN         ?=n
CONFIG_SOLUTION_FUNC_UAC_OUT        ?=n
## loopback mode
CONFIG_SOLUTION_FUNC_AUDIO_LOOPBACK ?=n
## es8388 codec init
CONFIG_SOLUTION_FUNC_AUDIO_ES8388   ?=n

################### video ##################
## video default size
CONFIG_SOLUTION_VIDEO_DEFAULT_WIDTH  ?=640
CONFIG_SOLUTION_VIDEO_DEFAULT_HIGHT  ?=480
## dbi display (yuyv >> dbi_display)
CONFIG_SOLUTION_FUNC_DISP_DBI       ?=n
## rgb display (rgb frame >> rgb_display)
CONFIG_SOLUTION_FUNC_DISP_RGB       ?=n
## jpeg compression (yuyv >> jpeg)
CONFIG_SOLUTION_FUNC_MJPEG_ENC      ?=n
## jpeg compression (jpeg >> yuv/rgb)
CONFIG_SOLUTION_FUNC_MJPEG_DEC      ?=n
## mjpeg dec output format:  1: RGB565, 2: RGB888, 3: NRGB8888, 4: YUYV, 5: YUV,
CONFIG_MJPEG_DEC_OUTPUT_FORMAT		?=1
## dvp sensor (dvp >> yuyv)
CONFIG_SOLUTION_FUNC_DVP            ?=n
## jpeg from dvp (dvp >> yuyv >> jpeg)
CONFIG_SOLUTION_FUNC_DVP_JPEG_ENC   ?=n
## uvc yuyv mode (usb >> yuyv)
CONFIG_SOLUTION_FUNC_UVC_YUYV       ?=n
## uvc jpeg mode (usb >> jpeg)
CONFIG_SOLUTION_FUNC_UVC_JPEG       ?=n

################### other ##################
## save to .avi (jpeg >> sd_card .avi)
CONFIG_SOLUTION_FUNC_SDCARD_AVI_VIDS	?=n
## save to .avi (audio_pcm >> sd_card .avi)
CONFIG_SOLUTION_FUNC_SDCARD_AVI_AUDS	?=n

## image_transmission (jpeg)
CONFIG_SOLUTION_FUNC_HIBOOSTER_TX   ?=n
CONFIG_SOLUTION_FUNC_HIBOOSTER_RX   ?=n
CONFIG_HB_SEND_TEST                 ?=n
CONFIG_HB_RECV_TEST                 ?=n

CONFIG_SOLUTION_FUNC_RTSP           ?=n
CONFIG_RTSP                         ?=n
################### solution_utils config end ###################

# CherryUSB
ifneq ($(CONFIG_SOLUTION_FUNC_UVC_JPEG)_$(CONFIG_SOLUTION_FUNC_UVC_YUYV)_$(CONFIG_SOLUTION_FUNC_UAC_IN)_$(CONFIG_SOLUTION_FUNC_UAC_OUT),n_n_n_n)
	CONFIG_CHERRYUSB =y
	CONFIG_CHERRYUSB_OSAL =freertos
	CONFIG_CHERRYUSB_HOST =y
	ifneq ($(CONFIG_SOLUTION_FUNC_UVC_JPEG)_$(CONFIG_SOLUTION_FUNC_UVC_YUYV),n_n)
		CONFIG_CHERRYUSB_HOST_VIDEO =y
	endif
	ifneq ($(CONFIG_SOLUTION_FUNC_UAC_IN)_$(CONFIG_SOLUTION_FUNC_UAC_OUT),n_n)
		CONFIG_CHERRYUSB_HOST_AUDIO_UAC =y
	endif
endif

# FatFS
ifneq ($(CONFIG_SOLUTION_FUNC_SDCARD_AVI_VIDS)_$(CONFIG_SOLUTION_FUNC_SDCARD_AVI_AUDS),n_n)
	CONFIG_BSP_SDH_SD      	=y
	CONFIG_FATFS          	=y
	CONFIG_FATFS_SDH_SDCARD	=y
endif

# DVP
ifneq ($(CONFIG_SOLUTION_FUNC_DVP)_$(CONFIG_SOLUTION_FUNC_DVP_JPEG_ENC),n_n)
	CONFIG_BSP_IMAGE_SENSOR =y
endif

# LCD
ifneq ($(CONFIG_SOLUTION_FUNC_DISP_DBI)_$(CONFIG_SOLUTION_FUNC_DISP_RGB),n_n)
	CONFIG_BSP_LCD =y
endif
