CONFIG_NEWLIB               =y
# Components
CONFIG_BFLB_LOG             =n
CONFIG_FREERTOS             =y
CONFIG_POSIX                =y
CONFIG_TLSF                 =y
CONFIG_SHELL                =y
CONFIG_LWIP                 =y
CONFIG_FHOST                =y
CONFIG_WIFI6                =y
CONFIG_RF                   =y
CONFIG_MBEDTLS              =y
# CONFIG_PSRAM              =y
CONFIG_DHCPD                =y
CONFIG_PING                 =y
# CONFIG_MQTT               =y
CONFIG_COREDUMP             =n

CONFIG_VSNPRINTF_FLOAT      =y
CONFIG_VSNPRINTF_FLOAT_EX   =y
CONFIG_VSNPRINTF_LONG_LONG  =y

# mbedtls
CONFIG_MBEDTLS_AES_USE_HW    =n
CONFIG_MBEDTLS_BIGNUM_USE_HW =n
CONFIG_MBEDTLS_ECC_USE_HW    =n
CONFIG_MBEDTLS_SHA1_USE_HW   =n
CONFIG_MBEDTLS_SHA256_USE_HW =n
CONFIG_MBEDTLS_SHA512_USE_HW =n

# wifi
CONFIG_WIFI_IPERF            =y
# CONFIG_WIFI_GATEWAY        =y

CONFIG_IPC                           =y
CONFIG_OPENAMP_VIRTIO_DEVICE_SUPPORT =y
CONFIG_OPENAMP_VIRTIO_DRIVER_SUPPORT =n
CONFIG_OPENAMP_PROXY                 =y
CONFIG_RPMSG_SERVICE                 =y
CONFIG_MACSW_SELECT                  = default
