# Nuclei Hummingbird USB-JTAG adapter
adapter driver ftdi
adapter usb vid_pid 0x0403 0x6010
adapter speed 200

# Select JTAG scan mode.
#
# 4-wire JTAG is the default. Enable Nuclei two-wire compact JTAG (NScan1) by
# setting NUCLEI_NSCAN1=1 before sourcing this file:
#     openocd -c "set NUCLEI_NSCAN1 1" -f interface/nuclei_ftdi.cfg ...
#
# JTAG_SEL (bit 0x0100, see layout_signal below) selects the physical pinout:
# low means cjtag and high means 4-wire JTAG. In cjtag mode OpenOCD drives that
# signal low by itself, so only the 4-wire branch has to request it through
# layout_init. That mask is the only difference between the two calls.
if { [info exists NUCLEI_NSCAN1] && $NUCLEI_NSCAN1 } {
    # cjtag: 2-wire compact JTAG; OpenOCD drives JTAG_SEL low during init
    ftdi nscan1_mode on
    ftdi layout_init 0x0008 0x001b
} else {
    # jtag: 4-wire JTAG, JTAG_SEL driven high
    ftdi nscan1_mode off
    ftdi layout_init 0x0108 0x011b
}

## You can specify adapter serial to select a ftdi chip.
# adapter serial "FT6S9RD6"

## Bind JTAG with specified serial number passed by JTAGSN.
# https://doc.nucleisys.com/nuclei_sdk/develop/buildsystem.html#jtagsn
if { [ info exists JTAGSN ] } {
    puts "Bind JTAG with serial number $JTAGSN"
    adapter serial $JTAGSN
}

transport select jtag

ftdi layout_signal nSRST -oe 0x0020 -data 0x0020
ftdi layout_signal TCK -data 0x0001
ftdi layout_signal TDI -data 0x0002
ftdi layout_signal TDO -input 0x0004
ftdi layout_signal TMS -data 0x0008
ftdi layout_signal JTAG_SEL -data 0x0100 -oe 0x0100

proc adapter_pulse_srst {} {
    ftdi set_signal nSRST 0
    ftdi set_signal nSRST z
}

set _nuclei_ftdi_loaded ""
