# Nuclei Hummingbird USB-JTAG adapter
adapter driver ftdi
adapter usb vid_pid 0x0403 0x6010
adapter speed 200

# Select JTAG scan mode.
# cjtag
# ftdi oscan1_mode on
# jtag
ftdi oscan1_mode off

## You can specify adapter serial to select a ftdi chip.
# adapter serial "FT6S9RD6"

## Bind JTAG with specified serial number passed by JTAGSN.
# https://doc.nucleisys.com/nuclei_sdk/develop/buildsystem.html#jtagsn
if { [ info exists JTAGSN ] } {
    puts "Bind JTAG with serial number $JTAGSN"
    adapter serial $JTAGSN
}

transport select jtag

ftdi layout_init 0x0008 0x001b
ftdi layout_signal nSRST -oe 0x0020 -data 0x0020
ftdi layout_signal TCK -data 0x0001
ftdi layout_signal TDI -data 0x0002
ftdi layout_signal TDO -input 0x0004
ftdi layout_signal TMS -data 0x0008
ftdi layout_signal JTAG_SEL -data 0x0100 -oe 0x0100

proc adapter_pulse_srst {} {
    ftdi set_signal nSRST 0
    ftdi set_signal nSRST z
}

set _nuclei_ftdi_loaded ""
