CONFIG_SHELL=y
CONFIG_PSRAM=n
CONFIG_PSRAM_COPY_CODE=n
CONFIG_EXAMPLE_PM_GPIO_WAKEUP=y
CONFIG_EXAMPLE_PM_BOD_WAKEUP=y
CONFIG_EXAMPLE_PM_BOD_THRESHOLD=5
CONFIG_EXAMPLE_PM_RTC_WAKEUP=y
CONFIG_EXAMPLE_PM_HBN_WDT=y
