-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_MBEDTLS_AES_USE_HW    =n
CONFIG_MBEDTLS_BIGNUM_USE_HW =n
CONFIG_MBEDTLS_ECC_USE_HW    =n
CONFIG_MBEDTLS_SHA1_USE_HW   =n
CONFIG_MBEDTLS_SHA256_USE_HW =n
CONFIG_MBEDTLS_SHA512_USE_HW =n

CONFIG_WIFI_IPERF=y
# CONFIG_MBEDTLS_V3=y
# CONFIG_WIFI_GATEWAY=y

ifeq ($(CHIP),bl616d)
    CONFIG_ROMAPI             =n
    CONFIG_DUALCORE_DISABLE   =y
    CONFIG_WRAM_FOR_AP_SIZE   = 0x50000
    CONFIG_RAM_FOR_AP_SIZE    = 0x50000
endif

CONFIG_ROMFS                 =y
CONFIG_POST_BUILDS_GENERATE_ROMFS=y

# ============ BT ============
CONFIG_BLUETOOTH =y
CONFIG_BTBLECONTROLLER_LIB =ble1m2s1bredr1
CONFIG_BLE_USE_MAC2 =n
CONFIG_BT_STACK_CLI =n
CONFIG_BT_BREDR              =y
CONFIG_BT_A2DP               =y
CONFIG_BT_AVRCP              =y
CONFIG_BT_A2DP_SOURCE        =y
CONFIG_BT_A2DP_SINK          =n
CONFIG_BT_SETTINGS           =y
CONFIG_PARTITION =y
CONFIG_BFLB_MTD =y
CONFIG_LITTLEFS =y