CONFIG_NEWLIB               =n
CONFIG_NEWLIB_STANDARD      =n

CONFIG_VSNPRINTF_NANO       =y
CONFIG_VSNPRINTF_FLOAT      =n
CONFIG_VSNPRINTF_FLOAT_EX   =n
CONFIG_VSNPRINTF_LONG_LONG  =n

CONFIG_LITTLEFS =y
CONFIG_BFLB_MTD =y
CONFIG_PARTITION =y

CONFIG_MBEDTLS =y
CONFIG_MBEDTLS_SELF_TEST =n

CONFIG_MBEDTLS_AES_USE_HW =y
CONFIG_MBEDTLS_SHA1_USE_HW =y
CONFIG_MBEDTLS_SHA256_USE_HW =y
CONFIG_MBEDTLS_SHA512_USE_HW =y
CONFIG_MBEDTLS_ECC_USE_HW =y
CONFIG_MBEDTLS_BIGNUM_USE_HW =y

CONFIG_BFLB_LOG                =n

CONFIG_RF                   =y
CONFIG_LMAC154              =y
CONFIG_FREERTOS             =y
CONFIG_THREAD               =y
CONFIG_COREDUMP             =n
