CONFIG_PSRAM = y
CONFIG_PSRAM_FOR_AP_SIZE = 0x1000000
CONFIG_FREERTOS = y
CONFIG_LVGL9 = y
CONFIG_LVGL9_PORT_DISP = y
CONFIG_LVGL9_OSD_LAYER = y
CONFIG_FATFS = y
CONFIG_FATFS_SDH_SDCARD = y
CONFIG_BSP_SDH_SD = y
CONFIG_BSP_LCD = y
