-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_MBEDTLS_AES_USE_HW    =y
CONFIG_MBEDTLS_BIGNUM_USE_HW =y
CONFIG_MBEDTLS_ECC_USE_HW    =y
CONFIG_MBEDTLS_SHA1_USE_HW   =y
CONFIG_MBEDTLS_SHA256_USE_HW =y
CONFIG_MBEDTLS_SHA512_USE_HW =y
#websocket
CONFIG_XWEBSOCKET =y
CONFIG_MULTIMEDIA =y

CONFIG_WIFI_IPERF=y
# CONFIG_MBEDTLS_V3=y
# CONFIG_WIFI_GATEWAY=y
