-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_BFLB_OTA  =y
CONFIG_BFLB_MTD  =y
CONFIG_PARTITION =y

CONFIG_VSNPRINTF_NANO        =n

CONFIG_MBEDTLS_AES_USE_HW    =n
CONFIG_MBEDTLS_BIGNUM_USE_HW =n
CONFIG_MBEDTLS_ECC_USE_HW    =n
CONFIG_MBEDTLS_SHA1_USE_HW   =n
CONFIG_MBEDTLS_SHA256_USE_HW =n
CONFIG_MBEDTLS_SHA512_USE_HW =n

#CONFIG_LOG_DISABLE          =n
#CONFIG_ASSERT_DISABLE       =n
#CONFIG_LOG_LEVEL            =3
#CONFIG_LOG_POOL_SIZE        =1024

# lpfw
CONFIG_SDIO_LPAPP                     =y
CONFIG_LPAPP                          =y
CONFIG_POST_BUILDS_CONCAT_WITH_LP_FW  =y
CONFIG_PM                             =y
CONFIG_LWIP_LP                        =y
CONFIG_PWRMGMT                        =y

# DCDC ENABLE
CONFIG_DCDC_ENABLE                    =n

# sdio
CONFIG_HOSTROUTER  =y
CONFIG_DHCP_IN_EMB =y
CONFIG_NETBUS      =y
CONFIG_DUAL_ETH    =n
