
CONFIG_MBEDTLS               =y
CONFIG_MBEDTLS_SELF_TEST     =y

CONFIG_MBEDTLS_AES_USE_HW    =y
CONFIG_MBEDTLS_SHA1_USE_HW   =y
CONFIG_MBEDTLS_SHA256_USE_HW =y
CONFIG_MBEDTLS_SHA512_USE_HW =y
CONFIG_MBEDTLS_ECC_USE_HW    =y
CONFIG_MBEDTLS_BIGNUM_USE_HW =y
