# Enable FreeRTOS for audio_src_sink/audio_play tasks
CONFIG_FREERTOS =y
CONFIG_SHELL =y

# Keep demo lightweight
CONFIG_BFLB_LOG =n
# printf helpers
CONFIG_VSNPRINTF_LONG_LONG =y

# Use unified BSP audio codec layer
CONFIG_BSP_AUDIO_CODEC =y
CONFIG_BSP_AUDIO_PLAYER =y
CONFIG_MP3_PLAYER_TEST_MP3 =y
CONFIG_WAVE_PLAYER_ENABLE_REC =y
CONFIG_WAVE_PLAYER_ENABLE_REC_RB =y

# MP3 decoder (PacketVideo pvmp3dec)
CONFIG_MULTIMEDIA =y
CONFIG_PVMP3DEC =y
CONFIG_LIBFVAD =y
CONFIG_SPEEXDSP =y

CONFIG_WAVE_PLAYER_TASK_STACK_DEPTH = 640
CONFIG_MP3_PLAYER_TASK_STACK_DEPTH = 768
CONFIG_MP3_PLAYER_CACHE_BYTES = 2048
CONFIG_MP3_PLAYER_RESAMPLE_TX_BLOCK_BYTES = 1024

CONFIG_WAVE_PLAYER_ENABLE_RESAMPLE=y
CONFIG_WAVE_PLAYER_FIX_SAMPLE_RATE = 16000
CONFIG_WAVE_PLAYER_RESAMPLE_QUALITY = 8

# SD card + FatFs for recorder WAV storage
CONFIG_BSP_SDH_SD =y
CONFIG_BSP_SDH_OSAL_POLLING_MODE =n
CONFIG_FATFS =y
CONFIG_FATFS_SDH_SDCARD =y
