# Runtime
CONFIG_FREERTOS =y
CONFIG_SHELL =y
CONFIG_BFLB_LOG =n
CONFIG_VSNPRINTF_LONG_LONG =y

CONFIG_BSP_AUDIO_CODEC =y
CONFIG_BSP_AUDIO_PLAYER =y
CONFIG_WAVE_PLAYER_I2S_DSP_LR_MERGE =y

# JY6316 codec and DSP mode
# CONFIG_AUDIO_CODEC_JY6316_ENABLE =y
# CONFIG_I2S_DSP_MODE =y
#slot0=L, slot1=R, slot2=L, slot3=R
# CONFIG_WAVE_PLAYER_I2S_TX_SLOTS = 4
# CONFIG_WAVE_PLAYER_OUT_CHANNELS = 2
#6311/ empty / 6166 L / 6166 R
# CONFIG_WAVE_PLAYER_REC_CHANNELS = 4

# ES8311 codec and normal I2S mode
CONFIG_WAVE_PLAYER_OUT_CHANNELS = 1
CONFIG_WAVE_PLAYER_REC_CHANNELS = 1

# ES8388 codec and normal I2S mode
# CONFIG_WAVE_PLAYER_OUT_CHANNELS = 2
# CONFIG_WAVE_PLAYER_REC_CHANNELS = 1

# BL built-in audio codec
# CONFIG_BSP_AUDIO_CODEC_BL_ENABLE =y

# Wave player playback.
CONFIG_WAVE_PLAYER_OUT_SAMPLES = 480
CONFIG_WAVE_PLAYER_TASK_STACK_DEPTH = 1024
CONFIG_WAVE_PLAYER_ENABLE_RESAMPLE =y
CONFIG_WAVE_PLAYER_FIX_SAMPLE_RATE = 16000
CONFIG_WAVE_PLAYER_RESAMPLE_QUALITY = 3
# CONFIG_WAVE_PLAYER_TEST_WAVE =y
# CONFIG_WAVE_PLAYER_DIAG =y
CONFIG_WAVE_PLAYER_CODEC_REG_CLI = 0

# Recorder configuration.
CONFIG_WAVE_PLAYER_ENABLE_REC =y
CONFIG_WAVE_PLAYER_ENABLE_REC_RB =y
CONFIG_WAVE_PLAYER_REC_FRAME_MS = 20
CONFIG_WAVE_PLAYER_REC_SECONDS = 2
CONFIG_WAVE_PLAYER_REC_MAX_FS_HZ = 16000
# it affects the pending buffer count, one is being processed by app, others are ready for the incoming audio data.
CONFIG_WAVE_PLAYER_REC_DMA_BLOCKS = 8
CONFIG_WAVE_PLAYER_REC_DEFAULT_MIC_PGA = 90
# recorder is mono,selesct left channel(0) or right channel(1) or mix both channels(2).
CONFIG_WAVE_PLAYER_REC_MONO_SOURCE = 0
# CONFIG_WAVE_PLAYER_ENABLE_REC_LOOPBACK =y
# CONFIG_WAVE_PLAYER_REC_LOOPBACK_SOURCE = 0

# MP3 playback test.
CONFIG_MP3_PLAYER_TEST_MP3 =y
CONFIG_MP3_PLAYER_TASK_STACK_DEPTH = 1024
CONFIG_MP3_PLAYER_CACHE_BYTES = 2048
CONFIG_MP3_PLAYER_RESAMPLE_TX_BLOCK_BYTES = 1920

# Decoder and DSP dependencies.
CONFIG_MULTIMEDIA =y
CONFIG_PVMP3DEC =y
CONFIG_LIBFVAD =y
CONFIG_SPEEXDSP =y

# Optional SD card + FatFs for recorder WAV storage.
# CONFIG_BSP_SDH_SD =y
# CONFIG_BSP_SDH_OSAL_POLLING_MODE =n
# CONFIG_FATFS =y
# CONFIG_FATFS_SDH_SDCARD =y
