-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_COREDUMP=n

# easyflash
CONFIG_LITTLEFS              =y
CONFIG_LITTLEFS_KV_EASYFLASH =y
CONFIG_BFLB_MTD              =y
CONFIG_PARTITION             =y
CONFIG_BFLB_OTA              =y

# BSP
CONFIG_BSP_ETH_PHY           =y

# mbedtls
#CONFIG_MBEDTLS_V3 = y
CONFIG_MBEDTLS_AES_USE_HW    =n
CONFIG_MBEDTLS_BIGNUM_USE_HW =n
CONFIG_MBEDTLS_ECC_USE_HW    =n
CONFIG_MBEDTLS_SHA1_USE_HW   =n
CONFIG_MBEDTLS_SHA256_USE_HW =n
CONFIG_MBEDTLS_SHA512_USE_HW =n

# wifi
CONFIG_WIFI_IPERF =y

CONFIG_NETBUS             =y
CONFIG_NETHUB             =y
CONFIG_HOSTROUTER_INF     =y
CONFIG_HOSTROUTER_CHANNEL =y
CONFIG_ATMODULE           =y
CONFIG_ATMODULE_TTY       =y
CONFIG_ATMODULE_WIFI      =y

CONFIG_NETHUB            =y

CONFIG_DUALCORE_DISABLE  =y
CONFIG_WRAM_FOR_AP_SIZE   = 0x50000
CONFIG_RAM_FOR_AP_SIZE    = 0x50000

