# Components
CONFIG_VLIBC =n
CONFIG_BFLB_LOG =y
CONFIG_FREERTOS =y
CONFIG_POSIX =y
CONFIG_TLSF =y
CONFIG_SHELL =y
CONFIG_LWIP =y
CONFIG_FHOST =y
CONFIG_WIFI6 =y
CONFIG_RF =y
CONFIG_MBEDTLS =y
CONFIG_VFS =y
CONFIG_PSRAM =y
CONFIG_DHCPD =y
CONFIG_MQTT =y
CONFIG_BLUETOOTH =y
CONFIG_BTBLECONTROLLER_LIB =ble1m2s1bredr1
CONFIG_BLE_USE_MAC2 =n
CONFIG_BT_STACK_CLI =n
CONFIG_BFLB_MTD =y      # For bt status save
CONFIG_PARTITION =y     # For bt status save
CONFIG_LITTLEFS =y      # For bt status save
CONFIG_BT_SETTINGS =y   # For bt status save

# romfs
CONFIG_ROMFS =y
# fatfs
#CONFIG_FATFS              =y
#CONFIG_BSP_SDH_SD         =y
#CONFIG_BSP_SDH_SDCARD     =y
#CONFIG_BSP_SDH_SDCARD_INT =n
#CONFIG_FATFS_SDH_SDCARD   =y

## audio
CONFIG_MULTIMEDIA =y
CONFIG_ALGRTC =y

CONFIG_AACDEC =y
CONFIG_AMRNB =y
CONFIG_AMRWB =y
CONFIG_FLAC =y
CONFIG_PVMP3DEC =y
CONFIG_OGG =y
CONFIG_OPUS =y
CONFIG_VORBIS =y
CONFIG_SPEEX =y

CONFIG_DRV_SND_BL616 =y
CONFIG_SMART_AUDIO_BL616 =y
CONFIG_MINIALSA =y
CONFIG_SONIC =y
CONFIG_SPEEXDSP =y
CONFIG_USERVICE =y
CONFIG_BL606P_PLAYER =n
CONFIG_BL616_IMPLS =y
CONFIG_AUIDIO_FLOWCTRL_BRIDGE =y

CONFIG_AV =y
CONFIG_XCODEC =y
CONFIG_XPORT =y
CONFIG_XUTILS =y
CONFIG_XRECORD =y
CONFIG_XWEBSOCKET =y

CONFIG_VSNPRINTF_FLOAT      =y
CONFIG_VSNPRINTF_FLOAT_EX   =y
CONFIG_VSNPRINTF_LONG_LONG  =y

# Config
## mbedtls
CONFIG_MBEDTLS_AES_USE_HW =y
CONFIG_MBEDTLS_BIGNUM_USE_HW =y
CONFIG_MBEDTLS_ECC_USE_HW =y
CONFIG_MBEDTLS_SHA1_USE_HW =y
CONFIG_MBEDTLS_SHA256_USE_HW =y
CONFIG_MBEDTLS_SHA512_USE_HW =y

## bt
CONFIG_BT_A2DP =y
CONFIG_BT_AVRCP =y
CONFIG_BT_A2DP_SOURCE =n

# other
CONFIG_COREDUMP =n
CONFIG_CODEC_USE_I2S_TX =n
CONFIG_CODEC_USE_I2S_RX =n
CONFIG_MSP_USE_STATIC_RAM =n

CONFIG_OVERRIDE_PTFILE =8M.toml
CONFIG_POST_BUILDS_GENERATE_ROMFS=y
CONFIG_MACSW_SELECT = default
