
#
# Wireless
#
CONFIG_CONFIG_WIRELESS_ENABLE=y
# CONFIG_WIFI_MODE_STA is not set
# CONFIG_WIFI_MODE_AP is not set
CONFIG_WIFI_MODE_APSTA=y
# end of Wireless

#
# crypto
#
CONFIG_MBEDTLS=y
CONFIG_MBEDTLS_BUILTIN=y
# CONFIG_MBEDTLS_LIBRARY is not set
# CONFIG_CUSTOM_MBEDTLS_CFG_FILE is not set
CONFIG_MBEDTLS_CFG_FILE="config-tls-generic.h"

#
# Mbed TLS configuration
#

#
# TLS
#
CONFIG_MBEDTLS_TLS_VERSION_1_2=y
# CONFIG_MBEDTLS_DTLS is not set
# CONFIG_MBEDTLS_TLS_VERSION_1_3 is not set
CONFIG_MBEDTLS_SSL_ALPN=y
# end of TLS

#
# mbedTLS v3.x related
#
# CONFIG_MBEDTLS_SSL_VARIABLE_BUFFER_LENGTH is not set
# CONFIG_MBEDTLS_X509_TRUSTED_CERT_CALLBACK is not set
# CONFIG_MBEDTLS_SSL_KEEP_PEER_CERTIFICATE is not set
# end of mbedTLS v3.x related

#
# Ciphersuite configuration
#

#
# Supported key exchange modes
#
# CONFIG_MBEDTLS_KEY_EXCHANGE_ALL_ENABLED is not set
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK_ENABLED=y
# CONFIG_MBEDTLS_KEY_EXCHANGE_DHE_PSK_ENABLED is not set
# CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK_ENABLED is not set
# CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_PSK_ENABLED is not set
CONFIG_MBEDTLS_PSK_MAX_LEN=32
CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_DHE_RSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_RSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDH_ECDSA_ENABLED=y
# CONFIG_MBEDTLS_ECDSA_DETERMINISTIC is not set
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDH_RSA_ENABLED=y
# CONFIG_MBEDTLS_HKDF_C is not set

#
# Elliptic curve libraries
#
CONFIG_MBEDTLS_ECDH_C=y
CONFIG_MBEDTLS_ECDSA_C=y
# CONFIG_MBEDTLS_ECJPAKE_C is not set
CONFIG_MBEDTLS_ECP_C=y

#
# Supported elliptic curves
#
# CONFIG_MBEDTLS_ECP_ALL_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP192R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP224R1_ENABLED is not set
CONFIG_MBEDTLS_ECP_DP_SECP256R1_ENABLED=y
# CONFIG_MBEDTLS_ECP_DP_SECP384R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP521R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP192K1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP224K1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP256K1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP256R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP384R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP512R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_CURVE25519_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_CURVE448_ENABLED is not set
CONFIG_MBEDTLS_ECP_NIST_OPTIM=y

#
# Supported ciphers and cipher modes
#
# CONFIG_MBEDTLS_CIPHER_ALL_ENABLED is not set
CONFIG_MBEDTLS_SOME_AEAD_CIPHER_ENABLED=y
CONFIG_MBEDTLS_SOME_CIPHER_ENABLED=y
CONFIG_MBEDTLS_CIPHER_AES_ENABLED=y
CONFIG_MBEDTLS_AES_ROM_TABLES=y
CONFIG_MBEDTLS_AES_FEWER_TABLES=y
# CONFIG_MBEDTLS_CIPHER_MODE_XTS_ENABLED is not set
# CONFIG_MBEDTLS_CIPHER_CAMELLIA_ENABLED is not set
CONFIG_MBEDTLS_CIPHER_DES_ENABLED=y
# CONFIG_MBEDTLS_CIPHER_CHACHA20_ENABLED is not set
# CONFIG_MBEDTLS_CIPHER_CCM_ENABLED is not set
CONFIG_MBEDTLS_CIPHER_GCM_ENABLED=y
CONFIG_MBEDTLS_CIPHER_MODE_CBC_ENABLED=y
CONFIG_MBEDTLS_CIPHER_MODE_CTR_ENABLED=y
# CONFIG_MBEDTLS_CMAC is not set

#
# Supported hash algorithms
#
# CONFIG_MBEDTLS_HASH_ALL_ENABLED is not set
CONFIG_MBEDTLS_MD5=y
CONFIG_MBEDTLS_SHA1=y
CONFIG_MBEDTLS_SHA224=y
CONFIG_MBEDTLS_SHA256=y
CONFIG_MBEDTLS_SHA256_SMALLER=y
CONFIG_MBEDTLS_SHA384=y
CONFIG_MBEDTLS_SHA512=y
# CONFIG_MBEDTLS_POLY1305 is not set
# end of Ciphersuite configuration

#
# Random number generators
#
CONFIG_MBEDTLS_CTR_DRBG_ENABLED=y
# CONFIG_MBEDTLS_HMAC_DRBG_ENABLED is not set

#
# Other configurations
#
CONFIG_MBEDTLS_CIPHER=y
CONFIG_MBEDTLS_MD=y
CONFIG_MBEDTLS_GENPRIME_ENABLED=y
# CONFIG_MBEDTLS_PEM_CERTIFICATE_FORMAT is not set
CONFIG_MBEDTLS_HAVE_ASM=y
CONFIG_MBEDTLS_ENTROPY_C=y
CONFIG_MBEDTLS_ENTROPY_POLL=y
# CONFIG_MBEDTLS_USER_CONFIG_ENABLE is not set
CONFIG_MBEDTLS_SERVER_NAME_INDICATION=y
# CONFIG_MBEDTLS_PK_WRITE_C is not set
# CONFIG_MBEDTLS_HAVE_TIME is not set
# CONFIG_MBEDTLS_PKCS5_C is not set
# CONFIG_MBEDTLS_SSL_CACHE_C is not set
# CONFIG_MBEDTLS_SSL_EXTENDED_MASTER_SECRET is not set
# CONFIG_MBEDTLS_PSA_CRYPTO_C is not set
# CONFIG_MBEDTLS_USE_PSA_CRYPTO is not set
# CONFIG_MBEDTLS_NIST_KW_C is not set
CONFIG_MBEDTLS_DHM_C=y
# CONFIG_MBEDTLS_X509_CRL_PARSE_C is not set
# CONFIG_MBEDTLS_X509_CSR_WRITE_C is not set
# CONFIG_MBEDTLS_X509_CSR_PARSE_C is not set
# CONFIG_MBEDTLS_X509_CRT_WRITE_C is not set
# end of Mbed TLS configuration

CONFIG_MBEDTLS_SSL_MAX_CONTENT_LEN=1500
CONFIG_MBEDTLS_DEBUG=y
CONFIG_MBEDTLS_DEBUG_LEVEL=0
# CONFIG_MBEDTLS_DEBUG_EXTRACT_BASENAME_AT_BUILDTIME is not set
CONFIG_MBEDTLS_DEBUG_EXTRACT_BASENAME_AT_RUNTIME=y
# CONFIG_MBEDTLS_DEBUG_EXTRACT_BASENAME_DISABLED is not set
CONFIG_MBEDTLS_DEBUG_STRIP_NEWLINE=y
# CONFIG_MBEDTLS_MEMORY_DEBUG is not set
# CONFIG_MBEDTLS_TEST is not set
# CONFIG_MBEDTLS_ENABLE_HEAP is not set
CONFIG_MBEDTLS_INIT=y
# CONFIG_MBEDTLS_ZEROIZE_ALT is not set
CONFIG_APP_LINK_WITH_MBEDTLS=y
# end of crypto
