CONFIG_BFLB_LOG    =n
CONFIG_FREERTOS    =y
CONFIG_SHELL       =y
CONFIG_BFLB_MTD    =y
CONFIG_PARTITION   =y
# CONFIG_PSRAM     =y

ifeq ($(CONFIG_PSRAM),y)
    CONFIG_PSRAM_COPY_CODE =y
    CONFIG_OVERRIDE_PTFILE =16M_core.toml
else
    CONFIG_OVERRIDE_PTFILE =4M_core.toml
endif

CONFIG_COREDUMP_V2 =y
