-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_BFLB_LOG  =n

CONFIG_BFLB_MTD  =y
CONFIG_PARTITION =y
CONFIG_LITTLEFS  =y

# ble
ifeq ($(CHIP),bl602)
    CONFIG_BLUETOOTH          =y
    CONFIG_BLECONTROLLER_LIB  =m1s1
    CONFIG_HW_SEC_ENG_DISABLE =y
    CONFIG_BT_SETTINGS        =y
    CONFIG_ROMAPI             =y
    CONFIG_BL_SDK             =y
    CONFIG_BFLB_OTA           =y
else
    CONFIG_BLUETOOTH           =y
    CONFIG_BTBLECONTROLLER_LIB =ble1m0s1bredr0
    CONFIG_BLE_USE_MAC2        =n
    CONFIG_BLE_TP_SERVER       =y
endif

ifeq ($(CHIP),bl616)
# coex
    CONFIG_COEX                =y
    CONFIG_COEX_WIFI_MODE      =1
    CONFIG_COEX_BT_MODE        =1
    CONFIG_COEX_TDMA_NONE      =2
endif

ifeq ($(CHIP),bl616d)
CONFIG_OVERRIDE_PTFILE =partition_cfg_4M.toml
endif

CONFIG_BFLB_BLESYNC=y

