CONFIG_NEWLIB               =n
CONFIG_NEWLIB_STANDARD      =n

CONFIG_VSNPRINTF_NANO       =n
CONFIG_VSNPRINTF_FLOAT      =y
CONFIG_VSNPRINTF_FLOAT_EX   =y
CONFIG_VSNPRINTF_LONG_LONG  =y
CONFIG_SCANF_FLOAT          =y
CONFIG_SCANF_FLOAT_EX       =y

#CONFIG_TLSF                =y
CONFIG_PSRAM                =y
CONFIG_HEAP_ALWAYS_ON_KMEM  =y
CONFIG_MEMTESTER            =y
