# Components
CONFIG_VLIBC =n
CONFIG_BFLB_LOG =y
CONFIG_FREERTOS =y
CONFIG_POSIX =n
CONFIG_TLSF =y
CONFIG_SHELL =y
CONFIG_LWIP =y
CONFIG_FHOST =y
CONFIG_WIFI6 =y
CONFIG_RF =y
CONFIG_MBEDTLS =y
CONFIG_VFS =y
CONFIG_PSRAM =y
CONFIG_DHCPD =y
CONFIG_MQTT =y
CONFIG_ROMFS =y

CONFIG_VSNPRINTF_FLOAT      =y
CONFIG_VSNPRINTF_FLOAT_EX   =y
CONFIG_VSNPRINTF_LONG_LONG  =y

# Config
## mbedtls
CONFIG_MBEDTLS_AES_USE_HW =y
CONFIG_MBEDTLS_BIGNUM_USE_HW =y
CONFIG_MBEDTLS_ECC_USE_HW =y
CONFIG_MBEDTLS_SHA1_USE_HW =y
CONFIG_MBEDTLS_SHA256_USE_HW =y
CONFIG_MBEDTLS_SHA512_USE_HW =y

# audio
CONFIG_MULTIMEDIA =y
CONFIG_AV =y
CONFIG_XCODEC =y
CONFIG_XPORT =y
CONFIG_XUTILS =y
CONFIG_CODEC_USE_I2S_TX =n
CONFIG_CODEC_USE_I2S_RX =n
CONFIG_CODEC_USE_ES8388 =n
CONFIG_MSP_USE_STATIC_RAM =n
CONFIG_MSP_USE_CODEC_ONLY =y
CONFIG_MACSW_SELECT = default
