CONFIG_LWIP_ALTCP =y
CONFIG_NETBUS =y
CONFIG_BFLB_OTA =y
CONFIG_BFLB_MTD =y
CONFIG_PARTITION =y
CONFIG_POST_BUILDS_GENERATE_LITTLEFS =y
CONFIG_LITTLEFS =y
CONFIG_WIFI_IPERF =y

CONFIG_MBEDTLS_BIGNUM_USE_HW =n

CONFIG_ATMODULE              =y
CONFIG_ATMODULE_WIFI         =y
CONFIG_ATMODULE_BASE         =y

# wifi
ifeq ($(CONFIG_USE_LPAPP),y)
    CONFIG_LPAPP             =y
    CONFIG_PM                =y
    CONFIG_LWIP_LP           =y
    CONFIG_DCDC_ENABLE       =n
    CONFIG_TICKLESS_WIFI_BLE =y
    CONFIG_ATMODULE_LP       =y
    CONFIG_PWRMGMT           =y
    CONFIG_POST_BUILDS_CONCAT_WITH_LP_FW =y
    CONFIG_TICKLESS_ACCURATE =y
else
#    CONFIG_IPV6 =y
endif

ifeq ($(CONFIG_BLUETOOTH_APP),y)
    CONFIG_BLUETOOTH =y
    CONFIG_BTBLECONTROLLER_LIB =ble1m2s1bredr0
    CONFIG_DISABLE_BT_HOST_PRIVACY =y
    CONFIG_DYNAMIC_GATTS =y
    CONFIG_BT_SMP =y
    CONFIG_BT_SETTINGS =y
    CONFIG_BLE_USE_MAC2 =n
    CONFIG_BT_STACK_CLI =n

    # BLE profile
    CONFIG_BT_BAS_SERVER =y
    CONFIG_BT_IAS_SERVER =y
    CONFIG_BT_DIS_SERVER =y
endif
