# Components
CONFIG_BFLB_LOG      =n
CONFIG_FREERTOS      =y
CONFIG_POSIX         =y
CONFIG_TLSF          =y
CONFIG_SHELL         =y
CONFIG_LWIP          =y
CONFIG_RF            =y
CONFIG_MBEDTLS       =y
CONFIG_MBEDTLS_V3    =y
CONFIG_DHCPD         =y
CONFIG_PING          =y

ifeq ($(CHIP),bl602)
    CONFIG_WIFI4=y
else
    CONFIG_WIFI6=y
    CONFIG_MACSW_SELECT = default
    ifeq ($(CONFIG_WL80211),y)
        CONFIG_BL_WPA_SUPPLICANT =y
    else
        CONFIG_FHOST=y
    endif
endif

ifeq ($(CHIP),bl616d)
    CONFIG_WRAM_FOR_AP_SIZE = 0x28000
endif

CONFIG_VSNPRINTF_FLOAT      =y
CONFIG_VSNPRINTF_FLOAT_EX   =y
CONFIG_VSNPRINTF_LONG_LONG  =y

# mbedtls
ifeq ($(CONFIG_MBEDTLS_V3),y)
###more mbedtls config macro reference config-tls-generic.h###
#CONFIG_MBEDTLS_CFG_FILE="config-tls-generic.h"
CONFIG_MBEDTLS_TLS_VERSION_1_2=y
CONFIG_MBEDTLS_SSL_ALPN=y
CONFIG_MBEDTLS_PSK_MAX_LEN=32
CONFIG_MBEDTLS_PK_WRITE_C=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_RSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_DHE_RSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_RSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDH_ECDSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDH_RSA_ENABLED=y
CONFIG_MBEDTLS_PEM_CERTIFICATE_FORMAT=y
CONFIG_MBEDTLS_ECDH_C=y
CONFIG_MBEDTLS_ECDSA_C=y
CONFIG_MBEDTLS_ECP_C=y
CONFIG_MBEDTLS_ECP_DP_SECP256R1_ENABLED=y
CONFIG_MBEDTLS_ECP_NIST_OPTIM=y
CONFIG_MBEDTLS_PKCS5_C=y
CONFIG_MBEDTLS_SOME_AEAD_CIPHER_ENABLED=y
CONFIG_MBEDTLS_SOME_CIPHER_ENABLED=y
CONFIG_MBEDTLS_CIPHER_AES_ENABLED=y
CONFIG_MBEDTLS_AES_ROM_TABLES=y
CONFIG_MBEDTLS_AES_FEWER_TABLES=y
CONFIG_MBEDTLS_CIPHER_DES_ENABLED=y
CONFIG_MBEDTLS_CIPHER_GCM_ENABLED=y
CONFIG_MBEDTLS_CIPHER_MODE_CBC_ENABLED=y
CONFIG_MBEDTLS_CIPHER_MODE_CTR_ENABLED=y
CONFIG_MBEDTLS_MD5=y
CONFIG_MBEDTLS_SHA1=y
CONFIG_MBEDTLS_SHA224=y
CONFIG_MBEDTLS_SHA256=y
CONFIG_MBEDTLS_SHA256_SMALLER=y
CONFIG_MBEDTLS_SHA384=y
CONFIG_MBEDTLS_SHA512=y
CONFIG_MBEDTLS_CTR_DRBG_ENABLED=y
CONFIG_MBEDTLS_CIPHER=y
CONFIG_MBEDTLS_MD=y
CONFIG_MBEDTLS_GENPRIME_ENABLED=y
CONFIG_MBEDTLS_HAVE_ASM=y
CONFIG_MBEDTLS_ENTROPY_C=y
CONFIG_MBEDTLS_ENTROPY_POLL=y
CONFIG_MBEDTLS_SERVER_NAME_INDICATION=y
CONFIG_MBEDTLS_DHM_C=y
CONFIG_MBEDTLS_SSL_MAX_CONTENT_LEN=16384
#CONFIG_MBEDTLS_DEBUG=y
#CONFIG_MBEDTLS_DEBUG_LEVEL=0
#CONFIG_MBEDTLS_DEBUG_EXTRACT_BASENAME_AT_RUNTIME=y
#CONFIG_MBEDTLS_DEBUG_STRIP_NEWLINE=y
endif

ifneq ($(CHIP),bl602)
CONFIG_MBEDTLS_AES_USE_HW    =y
CONFIG_MBEDTLS_BIGNUM_USE_HW =n
CONFIG_MBEDTLS_ECC_USE_HW    =y
CONFIG_MBEDTLS_SHA1_USE_HW   =y
CONFIG_MBEDTLS_SHA256_USE_HW =y
CONFIG_MBEDTLS_SHA512_USE_HW =y
endif
