CONFIG_NEWLIB               =n
CONFIG_NEWLIB_STANDARD      =n

# Components
CONFIG_BFLB_LOG =n
CONFIG_FREERTOS =y
CONFIG_POSIX =y
CONFIG_TLSF =y
CONFIG_SHELL =y
CONFIG_LWIP =y
CONFIG_FHOST =y
CONFIG_WIFI6 =y
CONFIG_RF =y
CONFIG_MBEDTLS =y
# CONFIG_PSRAM =y
CONFIG_DHCPD =y
CONFIG_PING =y
# CONFIG_MQTT =y

CONFIG_VSNPRINTF_NANO       =n
CONFIG_VSNPRINTF_FLOAT      =y
CONFIG_VSNPRINTF_FLOAT_EX   =y
CONFIG_VSNPRINTF_LONG_LONG  =y

# Config
## mbedtls
CONFIG_MBEDTLS_AES_USE_HW =n
CONFIG_MBEDTLS_BIGNUM_USE_HW =n
CONFIG_MBEDTLS_ECC_USE_HW =n
CONFIG_MBEDTLS_SHA1_USE_HW =n
CONFIG_MBEDTLS_SHA256_USE_HW =n
CONFIG_MBEDTLS_SHA512_USE_HW =n

#CONFIG_LOG_DISABLE          =n
#CONFIG_ASSERT_DISABLE       =n
#CONFIG_LOG_LEVEL            =3
#CONFIG_LOG_POOL_SIZE        =1024

# lpfw
CONFIG_LPAPP =y
CONFIG_POST_BUILDS_CONCAT_WITH_LP_FW=y
CONFIG_PM =y
CONFIG_LWIP_LP =y

# DCDC ENABLE
CONFIG_DCDC_ENABLE =n
CONFIG_MACSW_SELECT = default

CONFIG_PWRMGMT               =y
CONFIG_TICKLESS_CUSTOMIZE    =y
# easyflash
CONFIG_LITTLEFS              =y
CONFIG_LITTLEFS_KV_EASYFLASH =y
CONFIG_BFLB_MTD              =y
CONFIG_PARTITION             =y

