-include $(BL_SDK_BASE)/examples/wifi/defconfig

CONFIG_MQTT      =y

CONFIG_PARTITION =y
CONFIG_BFLB_MTD  =y

CONFIG_FOTA      =y
CONFIG_FAST_OTA  =0
CONFIG_PROJECT_SDK_VERSION="1.0.0"
CONFIG_OTA_HEADER_USE_SDK_VERSION=y
CONFIG_HTTP       =y
CONFIG_HTTP_CLIENT =y
CONFIG_HTTPD      =y
CONFIG_FOTA_HTTPD_SERVER=y
CONFIG_LWIP_ALTCP =y
CONFIG_HTTPS_OTA_USE_CA_CERT=y
CONFIG_HTTPS_OTA_USE_CLIENT_CERT=y
